<html>
	<head>
		<title><%= title %></title>
		<style>
			h1 {color:black;}
			p {color:black;}
		</style>
	</head>
	<body bgcolor="green" >
		<div>
			<a href="/">Entrada</a> | 
			<a href="/login">Add novos lugares</a> | 
			<a href="/local">Lista de todos os lugares</a>
		</div>	
		<h1><%= title %></h1>
