<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <form class="login-form" action="/local/add" method="get">
          <input type="text" placeholder="username"/>
          <input type="password" placeholder="password"/>
          <button>login</button>
        </form>
      </div>
    </div>
  </body>
</html>
